<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cc.aoeiuv020.panovel">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".bookstore.BookstoreActivity"
            android:theme="@style/AppTheme.NoActionBar.TranslateStatusBar" />
        <activity
            android:name=".detail.NovelDetailActivity"
            android:theme="@style/AppTheme.NoActionBar.TranslateStatusBar" />
        <activity
            android:name=".text.NovelTextActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".search.RefineSearchActivity"
            android:label="@string/title_activity_refine_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".booklist.BookListActivity" />
        <activity android:name=".donate.DonateActivity" />
    </application>

</manifest>