<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cc.aoeiuv020.panovel">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        tools:targetApi="q">
        <activity
            android:name=".backup.webdav.BackupWebDavConfigActivity"
            android:label="@string/backup_web_dav"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustResize" />
        <activity android:name=".search.SiteSettingsActivity" />
        <!--suppress DeprecatedClassUsageInspection -->
        <meta-data
            android:name="cc.aoeiuv020.panovel.util.JarGlideModule"
            android:value="GlideModule" />

        <activity
            android:name=".detail.NovelDetailActivity"
            android:theme="@style/AppTheme.NoActionBar.TranslateStatusBar" />
        <activity
            android:name=".text.NovelTextActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".search.FuzzySearchActivity"
            android:label="@string/title_activity_fuzzy_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".booklist.BookListActivity" />
        <activity
            android:name=".donate.DonateActivity"
            android:label="@string/donate" /> <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <activity
            android:name=".backup.BackupActivity"
            android:label="@string/backup"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".search.SiteChooseActivity"
            android:label="@string/site_list" />
        <activity
            android:name=".search.SingleSearchActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="ssl.ptlogin2.qq.com"
                    android:pathPrefix="/jump"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".download.DownloadActivity"
            android:exported="true"
            android:launchMode="singleTop" />

        <provider
            android:name="com.qq.e.comm.GDTFileProvider"
            android:authorities="${applicationId}.gdt.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/gdt_file_path" />
        </provider>
        <activity
            android:name=".ad.SplashActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="cc.aoeiuv020.panovel.find.shuju.QidianshujuActivity" />
        <activity android:name="cc.aoeiuv020.panovel.find.shuju.post.QidianshujuPostActivity" />
        <activity android:name="cc.aoeiuv020.panovel.find.shuju.list.QidianshujuListActivity" />
        <activity android:name=".find.sp7.Sp7Activity" />
        <activity android:name=".find.sp7.list.Sp7ListActivity" />
    </application>

</manifest>